@font-face{
    font-family: 'Visitor';
    src:
    url('fonts/visitor1.ttf');
}

p { 
    margin-top: 0px;
    margin-bottom: 0px;
}

input[type="text"] {
    font-size: 10px;
}

#box {
    width: 800px;
    height: 600px;
    border-style: solid;
    border-width: 1px;
    position: absolute;
}

.UIInputBox {
    position: absolute;
    left: 0px;
    color: #FFFFFF;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;

}

#UIShifter {
    top: 150px;
}

#UIShifter2 {
    top: 200px;
}

#UIShifter3 {
    top: 250px;
}

#UIShifter4 {
    top: 300px;
}


.UIShifterInput {
    width:80px;
    border-width: 0px;
    padding: 0px;
}