p { 
    margin-top: 0px;
    margin-bottom: 0px;
}

input[type="text"] {
    font-size: 10px;
}

input[type="file"] {
    font-size: 10px;
    width: 24px;
    height: 24px;
}

input[type="range"] {
    width: 50%;
}

input[type="submit"] {
    /*visibility: hidden;*/
}

select {
    font-size: 10px;
}

#box {
    width: 800px;
    height: 600px;
    font-family: Tahoma, sans-serif;
    border-style: solid;
    border-width: 1px;
    position: absolute;
}

.UIInputBox, .HTMLUIButton {
    position: absolute;
    left: 0px;
    color: #FFFFFF;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;

}

#canvas {
    z-index: 0;
}

#saveButton {
    left: 752px;
    top: 576px;
}

#loadButton {
    left: 776px;
    top: 576px; 
}

#saveExport, #loadExport {
    position: absolute;
    top: 48px;
    left: 200px;
    width: 480px;
    height: 360px;
    background-color: rgba(192,192,192, 1);
    color: #000000;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    z-index: 1;

}

#queryInfo {
    position: absolute;
    top: 392px;
    left: 80px;
    width: 160px;
    height: 160px;
    font-size: 11px;
    background-color: rgba(255,255,255, 0.75);
    border-style: solid;
    border-width: 2px;
    border-color: black;
    z-index: 1;
}

#UIShifter {
    top: 75px;
}

#UIShifter2 {
    top: 112px;
}

#instrumentInput {
    /*overflow: auto;*/
}

#UIShifter3 {
    top: 195px;
}

#UIShifter4 {
    top: 235px;
}

#UIShifter5 {
    top: 255px;
}

#UIShifter6 {
    top: 290px;
    left: -30px;
    font-size: 10px;
}

#adjustInputVolume {
    padding: 0px;
}

#bugStorage {
    position: absolute;
    top: 350px;
    color: white;
    width: 80px;
    font-size: 14px;
    text-align: center;
}

#bugStorageUnit1 {
    top: 60px;
    left: 8px;

}
#bugStorageUnit2 {
    top: 60px;
    left: 48px;
}

#bugStorageUnit3 {
    top: 90px;
    left: 8px;
}
#bugStorageUnit4 {
    top: 90px;
    left: 48px;
}
#bugStorageUnit5 {
    top: 120px;
    left: 8px;
}
#bugStorageUnit6 {
    top: 120px;
    left: 48px;
}
#bugStorageUnit7 {
    top: 150px;
    left: 8px;
}
#bugStorageUnit8 {
    top: 150px;
    left: 48px;
}

#loadScreen, #initButton {
    z-index: 9999;
    position: absolute;
}

#initButton {
    left: 400px;
    top: 540px;
}

#modifySongProperties {

}

#facebookButton {
    position: absolute;
    top: 568px;
    left: 6px;
    width: 24px;
    height: 24px;
    padding: 0px;
}

#helpPage {
    position: absolute;
    top: 72px;
    left: 200px;
    z-index: 1;
}

.bugHoldingPen {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: white;
    color: black;
}

.bugHoldingPen > button {
    width: 24px;
    height: 24px;
    padding: 0px;
    background-color: transparent;
    border: none;
}

.UIShifterInput {
    width:80px;
    border-width: 0px;
    padding: 0px;
}

.fileIOArea {
    position: absolute;
    top: 48px;
    width: 474px;
    height: 306px;
}

/*For areas that allow you to adjust various object properties.*/
.editingWindow {
    position: absolute;
    top: 72px;
    left: 224px;
    width: 452px;
    height: 332px;
    background-color: rgba(192,192,192, 0.75);
    color: #000000;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    z-index: 1;
    overflow-y: scroll;
    font-size: 12px;
}

/* A useful fallback if we need to attach event handlers to canvas things?*/
.alwaysHidden {
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
}

/*Used for the text area divs that sometimes but don't always need to be visible.*/
.currentlyHidden {
    display: block;
    visibility: hidden;
}

.ignoreInput {
    pointer-events: none;
}

.smallHTMLUIText {
    font-family: Tahoma, sans-serif;
    font-size: 10px;
}